<component name="ArtifactManager">
  <artifact type="war" name="springmvc-pdf-fop:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvcpdffop.war">
      <element id="artifact" artifact-name="springmvc-pdf-fop:war exploded" />
    </root>
  </artifact>
</component>